[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "docker build -f Dockerfile.prod --platform linux/amd64 -t smare ."
dev = "docker build -f Dockerfile.dev --platform linux/amd64 -t smare ."
stop = "docker rm -f smarecontainer"
cont = "docker run --name smarecontainer -d smare:latest"
exec = "docker exec -it smarecontainer"
craigslist = "pipenv run exec python3 -c 'import app; app.craigslist(\"\",\"\")'"
facebook = "pipenv run exec python3 -c 'import app; app.facebook(\"\",\"\")'"

[packages]
selenium = "*"
bs4 = "*"
pymongo = "*"
typer = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"
imblearn = "*"
fuzzywuzzy = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"
