.container {
  width: 400px;
  height: 215px;
  border: #FF151F 1rem solid;
  padding: 5px;
  color: #FF151F;
}

.main {
  width: 358px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.vertical {
  height: 2.25rem;
  border-style: solid;
}

.horizontal {
  width: 20rem;
  border-style: dashed;
  opacity: 0.3;
}

/* Stats */

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.stats div {
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 0.3rem;
}

.stats div span {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 0;
  height: 0.75rem;
}

.stats div span span {
  font-weight: normal;
  font-size: 0.9rem;
}

/* Wasd */

.wasd {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  margin: 40px;
}

.wasd div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  align-self: stretch;
  justify-self: stretch;
  margin: 0.2rem;
  gap: 0.2rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.wasd div button {
  display: flex;
  align-items: center;
  justify-content: between;
  align-self: stretch;
  border: black .25rem solid;
  margin: 0;
  padding: 0;
  border-radius: .5rem;
  cursor: pointer;
}

.wasd div button div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0.2rem;
  margin: 0;
  border-right: black .25rem solid;
  background: black;
  gap: 0.25rem;
  font-weight: bold;
}

.wasd div button span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 0;
  font-weight: bold;
  margin-right: 0.2rem;
}

.wasd div button div:last-child {
  border-right: none;
  background: none;
}

.wasd div button div svg:first-child {
  scale: 1.5;
}

.wasd div button span svg {
  scale: 0.7;
  height: 1.5rem;
}