body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #666;
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    margin: 0;
    color: #f01716;
}

header p {
    color: #666;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#carListingForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#carListingForm input[type='text'],
#carListingForm input[type='number'] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#analyzeButton,
#checkPriceButton {
    padding: 12px 20px;
    background-color: #f01716;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#analyzeButton:hover {
    background-color: #a9060c;
}

#analysisResult {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Add this class for your logo image in the header */
.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    /* Set the maximum width you desire */
    height: auto;
    /* This will maintain the aspect ratio */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #f01716;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-top: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}