[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
craigslist = "python3 scrapers.py craigslist"
facebook = "python3 scrapers.py facebook"
link = "python3 scrapers.py link"

[packages]
selenium = "*"
bs4 = "*"
pymongo = "*"
typer = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
